Schemas/Schema123.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Schema123" xmlns:tns="http://www.example.org/Schema123" elementFormDefault="qualified">

    <complexType name="MessageType">
    	<sequence>
    		<element name="product" type="string"></element>
    	</sequence>
    </complexType>
    


    <element name="Message" type="tns:MessageType"></element>
</schema>