Schemas/Selectmsge.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Selectmsge" xmlns:tns="http://www.example.org/Selectmsge" elementFormDefault="qualified">

    <complexType name="ProductsType">
    	<sequence>
    		<element ref="tns:Product" minOccurs="0" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>
    
    <complexType name="Producttype">
    	<sequence>
    		<element name="productname" type="string"></element>
    	</sequence>
    </complexType>
    
    <element name="Products" type="tns:ProductsType"></element>

    <element name="Product" type="tns:Producttype"></element>
</schema>